Repository FluxHTTP/FluxHttp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fluxhttp-team, @core-maintainers, @security-team, @adapter-specialists, @browser-specialists, @nodejs-specialists, @typescript-specialists, @build-specialists, @devops-team, @ci-specialists, @release-managers, @performance-specialists, @community-managers, @documentation-team, @test-specialists, @integration-specialists, @legal-team, @code-quality-team

.github/CODEOWNERS:

# CODEOWNERS file for FluxHTTP
# This file defines individuals or teams that are responsible for code reviews
# in this repository. When a pull request is created, the designated code owners
# will automatically be requested to review the changes.

# Global fallback owners
# These users/teams will be requested for review on all files unless overridden
* @fluxhttp-team

# Core library files - require approval from core maintainers
/src/ @fluxhttp-team @core-maintainers
/src/core/ @fluxhttp-team @core-maintainers

# Critical core files require additional review
/src/index.ts @fluxhttp-team @core-maintainers @security-team
/src/core/fluxhttp.ts @fluxhttp-team @core-maintainers
/src/core/createfluxhttpinstance.ts @fluxhttp-team @core-maintainers

# Adapter implementations - platform-specific expertise
/src/adapters/ @fluxhttp-team @adapter-specialists
/src/adapters/xhr.adapter.ts @fluxhttp-team @browser-specialists
/src/adapters/fetch.adapter.ts @fluxhttp-team @browser-specialists
/src/adapters/http.adapter.ts @fluxhttp-team @nodejs-specialists

# Security-related files require security team approval
/src/security/ @fluxhttp-team @security-team
/src/interceptors/security.ts @fluxhttp-team @security-team
/src/core/security.ts @fluxhttp-team @security-team

# Error handling - requires careful review
/src/errors/ @fluxhttp-team @core-maintainers

# Type definitions - TypeScript experts
/src/types/ @fluxhttp-team @typescript-specialists

# Interceptor system - complex logic requiring careful review
/src/interceptors/ @fluxhttp-team @core-maintainers
/src/interceptors/dispatchRequest.ts @fluxhttp-team @core-maintainers

# Build and configuration files
/tsconfig*.json @fluxhttp-team @build-specialists
/tsup.config.ts @fluxhttp-team @build-specialists
/package.json @fluxhttp-team @core-maintainers
/package-lock.json @fluxhttp-team

# GitHub workflows and CI/CD
/.github/ @fluxhttp-team @devops-team
/.github/workflows/ @fluxhttp-team @devops-team
/.github/workflows/ci.yml @fluxhttp-team @devops-team @ci-specialists
/.github/workflows/release.yml @fluxhttp-team @devops-team @release-managers
/.github/workflows/security.yml @fluxhttp-team @devops-team @security-team
/.github/workflows/performance.yml @fluxhttp-team @devops-team @performance-specialists

# Dependabot configuration
/.github/dependabot.yml @fluxhttp-team @devops-team

# Issue and PR templates
/.github/ISSUE_TEMPLATE/ @fluxhttp-team @community-managers
/.github/pull_request_template.md @fluxhttp-team @community-managers

# Documentation files
/docs/ @fluxhttp-team @documentation-team
/README.md @fluxhttp-team @documentation-team
/CHANGELOG.md @fluxhttp-team @release-managers
/CONTRIBUTING.md @fluxhttp-team @community-managers
/SECURITY.md @fluxhttp-team @security-team

# Test files - require approval from test specialists
/tests/ @fluxhttp-team @test-specialists
/tests/unit/ @fluxhttp-team @test-specialists
/tests/integration/ @fluxhttp-team @test-specialists @integration-specialists
/tests/security/ @fluxhttp-team @test-specialists @security-team

# Examples and benchmarks
/examples/ @fluxhttp-team @documentation-team
/benchmarks/ @fluxhttp-team @performance-specialists

# Scripts require careful review
/scripts/ @fluxhttp-team @build-specialists

# License and legal files - require legal/admin approval
/LICENSE @fluxhttp-team @legal-team

# High-impact configuration files
/.gitignore @fluxhttp-team
/.npmignore @fluxhttp-team
/.eslintrc* @fluxhttp-team @code-quality-team
/.prettierrc* @fluxhttp-team @code-quality-team

# Special handling for critical files that affect the entire project
# These files require unanimous approval from all core teams
package.json @fluxhttp-team @core-maintainers @security-team @build-specialists
/src/index.ts @fluxhttp-team @core-maintainers @security-team @typescript-specialists

fix: comprehensive bug fixes for type safety and cross-platform compatibility
  .tsbuildinfo
  BUG_ANALYSIS_REPORT.md
  BUG_FIX_SUMMARY.md
  src/adapters/agents/pool.ts
  src/adapters/index.ts
  src/core/deduplication.ts
  src/core/mergeConfig-minimal.ts
  src/core/retry.ts
  src/errors/fluxhttperror.ts
  src/features/cache-advanced.ts
  tsup.config.ts
Owners: @fluxhttp-team, @adapter-specialists, @core-maintainers, @build-specialists

fix: add safe array destructuring in InterceptorManager (BUG-004 continuation)
  src/interceptors/InterceptorManager.ts
Owners: @fluxhttp-team, @core-maintainers

docs: update bug fix summary with final build success status
  BUG_FIX_SUMMARY.md
Owners: @fluxhttp-team

docs: add comprehensive final status report
  FINAL_STATUS_REPORT.md
Owners: @fluxhttp-team

fix: comprehensive bug analysis and fixes for 11 critical bugs
  .tsbuildinfo
  BUG_FIX_REPORT.md
  src/adapters/http.adapter.ts
  src/adapters/xhr.adapter.ts
  src/core/canceltoken.ts
  src/core/retry.ts
  src/features/circuit-breaker.ts
  src/interceptors/InterceptorManager.ts
  src/security/crypto.ts
  src/utils/url.ts
Owners: @fluxhttp-team, @nodejs-specialists, @browser-specialists, @core-maintainers, @security-team

fix: comprehensive bug fixes - phase 2 (5 additional bugs fixed)
  BUG_FIX_REPORT.md
  src/core/buildFullPath.ts
  src/core/fluxhttp.ts
  src/features/circuit-breaker.ts
  src/security/csrf-manager.ts
  src/security/rate-limiter.ts
Owners: @fluxhttp-team, @core-maintainers, @security-team

fix: comprehensive bug fixes for NPM package - phase 3
  BUG-FIX-REPORT.md
  src/adapters/xhr.adapter.ts
  src/core/createfluxhttpinstance.ts
  src/core/deduplication.ts
  src/features/circuit-breaker.ts
  src/utils/data.ts
  tests/unit/core/bug-fixes.test.ts
  tsconfig.json
Owners: @fluxhttp-team, @browser-specialists, @core-maintainers, @test-specialists, @build-specialists

chore: update TypeScript build info
  .tsbuildinfo
Owners: @fluxhttp-team
